@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image: url(background_image.jpeg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 3em;
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.logo:hover {
    color: aqua;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.nav a {
    position: relative;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
}

.nav a:hover {
    text-decoration: underline;
    color: #ff000089;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 550px;
    color: #ffffff;
    margin-right: 6em;
    margin-left: 2em;
    font-size: 1em;
}

.content h2 {
    font-size: 3em;
    letter-spacing: 0.03em;
}

.wrapper {
    width: 100%;
    max-width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.261);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    font-weight: 400;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;
}

.remember-forgot label input {
    justify-content: space-around;
    text-align: middle;
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 20px;
}

.wrapper .btn:hover {
    background-color: rgba(0, 0, 255, 0.379);
    color: white;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
}

.wrapper .remember-forgot {
    text-align: center;
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
}

.footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .footer-content img.brand-logo {
    height: 50px;
    margin-right: 20px;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #ff0000;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .header .nav a {
        margin-left: 10px;
    }

    .wrapper {
        padding: 20px;
    }

    .footer .footer-content {
        flex-direction: column;
    }

    .footer .footer-content img.brand-logo {
        margin-bottom: 10px;
    }

    .footer .social-icons a {
        font-size: 1.2em;
    }
}
